<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOL Champion</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <h1>LOL Champions</h1>
    <header>
        <nav>
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h3>Champion Lists</h3>
        <!-- <p>NAME &nbsp;&nbsp;&nbsp; POSITION &nbsp;&nbsp;&nbsp; TIER</p> -->
              
        <div id="entries">

        </div>
        <div class="addChampion">
            <h3>Add Champion</h3>
            <div class="submit">
                <input type="text" id="name" value="" placeholder="CHAMP_NAME">
                <input type="text" id="position" value="" placeholder="CHAMP_POSITION">
                <input type="text" id="tier" value="" placeholder="TIER">
            </div>
            <button id="submitButton">Add!</button>
        </div>
    </section>
    <footer>

    </footer>
    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="../js/index.js"></script>
    
</body>

</html>